%h1 Actors
 
%table#actors
  %thead
    %tr
      %th Actor
      %th Age
      %th Movies
  %tbody
    - @Actors.each do |actor|
      %tr
        %td= actor.name
        %td= actor.age
        %td= link_to "See movies", actor_path(actor)